/* Reset & Base */

/* Normalize margins, paddings, box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block; /* remove inline spacing */
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.6;
  color: #3f463a;
  background: #A9BA9D;
  padding-top: 60px; /* space for fixed nav */
  -webkit-font-smoothing: antialiased;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #434c3f;
  background-color:#67725f;
  padding: 1rem 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.2s;
}

nav a:hover {
  color: #0077cc;
}

/* Layout */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 3rem;
  padding: 2rem;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
  color: #666;
}

/* Blog posts */
.post h1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.post .date {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 1.5rem;
}

/* Blog list */
.post-list {
  list-style: none;
  padding: 0;
}
.post-list li {
  margin-bottom: 2rem;
}

/* Projects */
.project-list {
  display: grid;
  gap: 2rem;
}
.project {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

/* Projects */
.project .description {
  font-style: italic;
  margin-bottom: 1rem;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 600px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
